/* Author:          Brad Botteron
   Date Written:    10/22/19
   Desc:            Final Project Stylesheet
 */

body
{

}

#personalInfo
{
    padding-top: 25px;
    text-align: center;
}

#links
{
    display: flex;
}

#photoshop, #premiere
{
    cursor: pointer;
}

#formPlace
{
    margin: 30px;
    margin-left: 35vw;
    padding: 20px;
    width: 500px;
    vertical-align: center;
    border: solid 2px white;
}

#seeMoreBtn
{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}

wrapper
{
    padding-top: 10px;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 50px;
    background-color: #676EFF;
    margin: 5px;
    border: 5px solid black;
    color: #FFFFFF;
}

#columns
{
    column-count: 2;
    position: relative;
    display: block;
}

#youtubeHome
{
    margin-left: 100px;
    width: 300px;
    height: auto;
    
}

#donateHome
{
    margin-left: 100px;
    width: 300px;
    height: auto;
}

.pBesidePic
{
    margin-left: 100px;
}

footer
{
    display: block;
    text-align: center;
    position: absolute;
    margin: 20px;
    width: 100%;
    color: white;
}

#logoAndName
{
    display: flex;
    width: 99%;
}

header
{
    background-color: #676EFF;
    width: 99%;
    height: 23vh;
    border: 5px solid black;
    margin: 5px;
}

#topLogo
{
    cursor: pointer;
    height: 170px;
    width: auto;
    margin: 20px 50px 0px 20px;
}

#topHeader
{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
}

#nav
{
    margin: -100px 100px 10px 200px;
    display: flex;
    position: center;
    list-style: none;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

a
{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

a:link
{
    color: #ff00ff;
}

a:visited
{
    color: #ff00ff;
}

li
{
    display: block;
    margin: 10px;
    font-size: 30px;
    text-decoration: none;
}

.smallLi
{
    font-size: .8em;
    text-decoration: underline;
    cursor: pointer;
    border: dotted .5px #ff67f9;
    text-align: center;
    width: 75px;
}

#navList
{
    margin: 50px;
}

#gallery
{
    margin: 10px;
    border: solid 1px white;
    display: inline-block;
}

#advertisement
{
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
}

#productLeft
{
    width: auto;
    text-align: center;
}

p
{
    margin: 20px;
}

#productRight
{
    border: solid 1px white;
    margin-left: 50px;
    width: auto;
}

#article
{
    display: inline-flex;
    margin: 20px;
}

#advertImagePlaceholder
{
    border: solid 1px red;
    display: flex;
}

#productListContent
{
    border: dotted 2px white;
    height: 200px;
    width: 60px;
    margin-left: -50px;
    padding-left: 0px;
}

#scrollBox
{
    height: 500px;
    width: auto;
    border: solid 1px white;
    overflow: auto;
    background-color: azure;
    margin: 20px;
}

::-webkit-scrollbar
{
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track
{
    border: 1px solid #ff00ff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
    background: #676EFF;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover
{
    background: #ff00ff;
}

#formDetails
{
    margin: 30px;
    margin-left: 35vw;
    padding: 20px;
    width: 500px;
    vertical-align: center;
    border: solid 2px white;
}

.form
{
    width: 150px;
    display: inline-block;
    clear: left;
    margin: 10px;
    padding: 10px;
    float: left;
}

.forminput
{
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

#enterInfo
{
    margin-left: 90px;
}

#submitBtn
{
    margin-left: 10vw;
    font-weight: bold;
    font-size: large;
}

#errorMsg
{
    display: none;
    border: solid 2px red;
    margin: 10px;
    font-weight: bold;
    font-size: 2em;
}









