@font-face {
    font-family: Lemonada;
    src: url("../../fonts/Lemonada/Lemonada-VariableFont_wght.ttf");
}

*
{
    font-family: "Lemonada", cursive;
}

header
{
    text-align: center;
}

h1
{
    font-size: 1.5em;
}

.tableIcons
{
    width: 25px;
}

.tableName
{
    width: 75px;
}

.tableModified
{
    width: 75px;
}

table
{
    margin: 10px auto;
    width: 60%;
    min-width: 460px;
    background: azure;
    padding: 20px;
    border: .5px solid black;
    border-radius: 15px;
    text-align: center;
}

th
{
    border: .5px solid white;
}

tr.indexBreakRow
{
    border: 0;
    height: 1px;
}

footer
{
    border: .5px solid black;
    display: inline;
    text-align: center;
    font-size: .75em;
    padding: 5px;
    margin: 5px;
    position: absolute;
    bottom: 0;
    width: 98%;
}