@font-face {
    font-family: Lemonada;
    src: url("../../fonts/Lemonada/Lemonada-VariableFont_wght.ttf");
}

*
{
    background-color: darkslategray;
    font-family: "Lemonada", cursive;
}

#nav
{
    border: .5px solid white;
}

a:link, a:visited, a:active, a:hover
{
    text-decoration: none;
    color: white;
}

.navA
{
    display: inline;
    margin: 5%;
}