@font-face {
    font-family: Lemonada;
    src: url("../../fonts/Lemonada/Lemonada-VariableFont_wght.ttf");
}

*
{
    background-color: darkslategray;
    font-family: "Lemonada", cursive;
}

#wrapper
{
    border: 1px solid white;
    width: auto;
    background-color: aliceblue;
}

footer
{
    border: .5px solid white;
    text-align: center;
    font-size: .75em;
    padding: 5px;
    margin: 5px;
    position: absolute;
    bottom: 0;
    width: 98%;
    color: white;
}

#nav
{
    border: .5px solid white;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

a:link, a:visited, a:active, a:hover
{
    text-decoration: none;
    color: white;
}

.navA
{
    margin: 0 5%;
    display: inline-block;
}